VITE_KINOPOISK_API_KEY=e99d6de0-9f14-42e9-b3c6-32172a36d434
VITE_KINOPOISK_API_BASE_URL=https://kinopoiskapiunofficial.tech/api
VITE_PLAYER_TEMPLATES='[{"id":"alloha","title":"Alloha","embedUrlTemplate":"https://harald-as.newplayjj.com/?kp={kinopoiskId}&token=e7b61f129f4a392ac4bf6726a9dd6a"},{"id":"server","title":"Server","embedUrlTemplate":"https://watch.example.test/embed?kp={kinopoiskId}&title={title}"}]'
